*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'M PLUS Rounded 1c', Avenir Next, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


.parent{
    display:flex;
    height: 100vh;
    width: 100vw;
    background-color: rgb(21, 7, 54);
    justify-content: center;
    align-items: center;
}
.cal{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60%;
    flex: 0.25;
    background-image: linear-gradient(to top left, rgb(37, 37, 129), rgb(56, 0, 102));
    border-radius: 20px;
    transition: 0.5s;
}

#billtotal{
    margin-left: 20px;
    color: white;
    margin-bottom: 10px;
}
.inputbox{
    width: 90%;
    color: white;
    padding: 0.6rem 0.4rem;
    background-image: linear-gradient(to bottom left, rgb(11, 0, 95), rgb(47, 0, 46));
    border: none;
    border-radius: 20px;
}
::placeholder{
    color: white;
}
textarea:focus,input:focus {
    outline: none;
}


.fourth{
    display: flex;
    justify-content: space-between;

}

#plus{
    background-image: linear-gradient(to bottom left, rgb(30, 0, 255), rgb(104, 0, 103));
    border: none;
    padding: 5px 10px;
    border-radius: 24px;
    font-size: 14px;
}
#min{
    background-image: linear-gradient(to bottom left, rgb(30, 0, 255), rgb(104, 0, 103));
    border: none;
        padding: 5px 12px;
    border-radius: 25px;
    font-size: 14px;
}
#num{
    display: inline-block;
}
#peo{
    margin-bottom: 20px;
    margin-bottom: 20px;
}
#result{
    font-size: 24px;
}
.people{
    margin-left: 20px;
    flex-shrink: 0;
}
.cost{
    margin-right: 28px;
    flex-shrink: 0;
    margin-bottom: 20px;
}

.inputdiv{
    display: flex;
    justify-content: center;
}



@media screen and (max-width:1200px){
    .cal{
        flex:0.3;
    }
}
@media screen and (max-width:1100px){
    .cal{
        flex:0.35;
    }
}
@media screen and (max-width:850px){
    .cal{
        flex:0.45;
    }
}
@media screen and (max-width:728px){
    .cal{
        flex:0.6;
    }
}
@media screen and (max-width:480px){
    .parent{
        align-items: center;
    }
    .inputbox{
        padding: 1rem 0.6rem;
    }
    .cal{
        height: 100%;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex: 0.99;
        
    }
}
